/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@font-face {
  font-family: "HarryP";
  src: url("../fonts/harrypotter.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  font-size: 13px;
  color: #606060;
  text-decoration: none;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  color: #606060;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  color: #606060;
}

footer {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  color: #606060;
}

.harry-potter-font-class {
  font-family: "HarryP", sans-serif;
}

.contact-infos-font-class {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
}

.newsletter-heading {
  border: 0;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    #ccc calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
  margin-bottom: 10px;
  line-height: 40px;
}

.newsletter-heading span {
  font-family: "HarryP";
  background-color: #fff;
  color: #242424;
  padding: 0 8px 0 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 0.94;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  border: 0;
  outline: 0 none;
}

.newsletter-big-div {
  display: flex;
  flex-direction: column;
}

.block_newsletter #block-newsletter-label {
  color: #757575;
  font-size: 14px;
}

#footer .block_newsletter #block-newsletter-label {
  width: auto;
  font-family: inherit;
}

.field_for_email {
  float: left;
  width: 94%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(204, 204, 204);
  border-right: 0;
  margin: 0;
  margin: 0;
  float: left;
  height: 45px;
  color: #242424;
  font-size: 14px;
  line-height: 1;
}

.submit-email-button {
  border-radius: 0 4px 4px 0;
  border: 1px solid #ccc;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(204, 204, 204);
  border-left: 0;
  float: left;
  height: 45px;
  text-align: center;
}

.submit-email-arrow {
  content: "";
  display: inline-block;
  background: url("http://localhost:8080/themes/child_classic/modules/ps_emailsubscription/images/image.svg")
    no-repeat transparent 50%;
  width: 20px;
  height: 10px;
  color: #606060;
}

.email-input-class {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0 none;
  display: flex;
  width: 100%;
  font-size: 100%;
  background: transparent;
  line-height: 18px;
  font-family: "DM Sans", sans-serif;
  color: #757575;
}

.block_newsletter {
  max-width: 100%;
}

.footer-container {
  padding-top: 2.5rem;
  overflow: hidden;
  background: #faf9f9;
}

.text-sm-center {
  text-align: center !important;
  padding: 20px 0 70px;
}

.footer-container li a {
  font-size: 13px;
  color: #606060;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.underline-link {
  text-decoration: underline;
}

#wrapper {
  background: transparent;
}

.blok-tekstu-na-dole {
  font-family: "DM Sans", sans-serif;
  color: #757575 !important;
}

#custom-text p {
  font-family: "DM Sans", sans-serif;
  color: #757575 !important;
  line-height: 18px;
  font-size: 100%;
}

#custom-text h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  line-height: initial;
  font-weight: bold;
  color: #757575;
  text-transform: none;
}

#custom-text {
  padding: 0;
}

.img-fluid {
  margin-top: 40px;
}

.login-list {
  display: flex;
  list-style: none;
}

.login-list li {
  padding-left: 15px;
  padding-right: 15px;
}

.login-list li a span {
  color: #606060;
  font-size: 13px;
  text-decoration: underline;
}

#header .header-top {
  padding: 0;
}

#header .header-top .position-static.sticky {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  transition: 0.5s;
  text-align: center;
  padding-top: 10px;
}

#_desktop_logo {
  float: left;
}

#top-menu {
  width: 100%;
}

.hidden-sm-down {
  display: flex;
  flex-direction: column;
}

#header .header-nav {
  max-height: none;
}

.nav-class {
  margin-bottom: 15px;
  width: 100%;
}

#_desktop_user_info {
  float: right;
}

* {
  scroll-behavior: smooth;
}

.to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #575757;
  border: 2px solid #575757;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
}

.to-top.active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.to-top i {
  font-size: 3rem;
}

@media (max-width: 767px) {
  .footer-container .links .h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "HarryP";
  }
  .material-icons {
    float: right;
  }
  .linkblock-heading {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer-container .links .h3 {
    font-size: 16px;
    line-height: 1.5;
    font-family: "HarryP";
  }
}

@media (max-width: 767px) {
  .footer-container .links ul > li a {
    color: #606060;
  }
}

@media (max-width: 767px) {
  .footer-container .links ul > li {
    padding: 0;
    font-weight: 300;
  }
}

.footer-container li {
  margin-bottom: 0;
}

/**********************************/

.nav2-class {
  position: relative;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  outline: 0 none;
  font-size: 100%;
  background: transparent;
  line-height: 18px;
}

.nav2-class h1 {
  width: 350px;
  font-size: 2em;
  color: #606060;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0 none;
  background: transparent;
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: block !important;
  }
}

#search_widget {
  height: 46px;
  float: right;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  margin: 15px 0px 0px 0px;
  padding: 0;
  outline: 0 none;
  font-size: 100%;
  background: transparent;
}

@media (min-width: 992px) {
  #search_widget {
    max-width: 410px;
    position: absolute; /* Ustawiamy absolutne pozycjonowanie */
    top: 0; /* Ustawiamy na górze diva */
    right: 100px; /* Ustawiamy na prawo w kontenerze */
    margin: 0; /* Usuwamy marginesy */
    margin-top: 15px;
  }
}

#_desktop_cart {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  line-height: 42px;
  min-width: 20px;
  border: 0;
  padding: 0 10px;
  background: none transparent;
  margin: 0px 0px 0px 20px;
  outline: 0 none;
  font-size: 100%;
}

/********************************/

@media (max-width: 767px) {
  #header .top-logo img {
    width: auto;
    margin: auto;
    max-height: 20rem;
  }
}

#header .header-nav .blockcart {
  height: 3rem;
  padding: 0.75rem;
  margin-left: 0.9375rem;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  position: relative;
}

#header .logo {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  width: 350px;
  height: 100px;
}

#header .header-nav .cart-preview.active {
  background: transparent;
}

.more-than-one-product {
  color: white;
  background-color: #e60c54;
  min-width: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: -13px;
  right: 12px;
  border-radius: 10px;
}

.search-form {
  display: flex;
  width: 100%;
  position: relative;
}

.search-input-area {
  flex-grow: 1;
}

.search-input {
  appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #111;
  box-sizing: border-box;
  font-size: 14px;
  padding-left: 40px;
}

.search-input-area-item {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-search.search {
  font-size: 1.3em;
  color: #111;
  font-family: FontAwesome;
}

.clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

#search_widget form input {
  background-color: transparent;
  padding: 10px 10px 10px 25px;
}

.fa-search::before {
  content: "\f002";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #606060;
  text-transform: lowercase;
  text-align: center;
  cursor: pointer;
}
