/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@font-face {
    font-family: 'HarryP';
    src: url('../fonts/harrypotter.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    font-size: 13px;
    color: #606060;
    text-decoration: none;
}

body {
    font-family: 'DM Sans',sans-serif;
    font-size: 13px;
    color: #606060;
}

.harry-potter-font-class {
    font-family: 'HarryP', sans-serif;
}

.contact-infos-font-class {
    font-family: 'DM Sans',sans-serif;
    font-size: 13px;
}

.newsletter-heading{
    border: 0;
    position: relative;
    background: linear-gradient(180deg, rgba(0,0,0,0) calc(50% - 1px), #ccc calc(50%), rgba(0,0,0,0) calc(50% + 1px));
    margin-bottom: 10px;
    line-height: 40px;
}

.newsletter-heading span{
    font-family: 'HarryP';
    background-color: #fff;
    color: #242424;
    padding: 0 8px 0 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 0.94;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    border: 0;
    outline: 0 none;
}

.newsletter-big-div {
    display: flex;
    flex-direction: column;
}

.block_newsletter #block-newsletter-label {
    color: #757575;
    font-size: 14px;
  }

  #footer .block_newsletter #block-newsletter-label {
    width:auto;
    font-family: inherit;
  }

  .block_newsletter form .input-wrapper {
    border-radius: 4px 0 0 4px;
    width: 94%;
    float: left;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    border-right: 0;
    margin: 0;
  }

  .block_newsletter form .row .col-xs-12:first-of-type .btn-primary:first-of-type {
    width: 6%;
    height: 45px;
    float: right;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    border-left: 0;
    width: 18%;
    float: left;
    height: 45px;
    text-align: center;
  }
  
  .submit-email-arrow {
    content: '';
    display: inline-block;
    background: url('http://localhost:8080/themes/child_classic/modules/ps_emailsubscription/images/image.svg') no-repeat transparent 50%;
    width: 20px;
    height: 10px;
    color: #606060;
  }

  .email-input-class {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0 none;
    font-size: 100%;
    background: transparent;
    line-height: 18px;
    font-family: 'DM Sans',sans-serif;
    color: #757575;
  }