/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@font-face {
    font-family: 'HarryP';
    src: url('../fonts/harrypotter.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HarryP', sans-serif;
}

.contact-infos-font-class {
    font-family: 'DM Sans',sans-serif;
    font-size: 13px;
}